/*Dragonball color scheme, http://www.schemecolor.com/goku-dragon-ball-z-cartoon-colors.php */

body {
    margin: 0px;
}

.header {
    background-color: #F85B1A;
    height: 300px;
    position: relative;
}

.pic1 {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.header-tabs {
    background-color: #072083;
    font: Calibri;
}

.header-list li {
    padding: 20px 40px;
    list-style: none;
    float: left;
    color: #072083;
    font-family: Sans-Serif;
    font-weight: 800;
    background-color: #F85B1A;
    border: 5px solid #072083;
    padding: 20px 100px;
    margin: 0px;
}

.body {}

.footer {}