/*Dragonball color scheme, http://www.schemecolor.com/goku-dragon-ball-z-cartoon-colors.php */

body {
    margin: 0px;
}

.header {
    background-color: #F85B1A;
    height: 300px;
    position: relative;
}

.pic1 {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.songSection li {
    list-style: none;
    display: inline-block;
}

.ssGoku {
    background-color: #8A9294;
    height: 500px;
}

.gokuBase {
    height: 400px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 200px;
}

.gokuSS1 {
    height: 400px;
    width: auto;
    display: none;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    position: absolute;
    left: 200px;
}

.gokuSS2 {
    height: 400px;
    width: auto;
    display: none;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 200px;
}

.gokuSS3 {
    height: 400px;
    width: auto;
    display: none;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 200px;
}

.gokuGOD {
    height: 400px;
    width: auto;
    display: none;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 200px;
}

.gokuBLUE {
    height: 400px;
    width: auto;
    display: none;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 200px;
}

.gokuSS4 {
    height: 400px;
    width: auto;
    display: none;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 200px;
}

.transButtons li {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
}

.transButtons li:hover {
    background-color: #ddd;
    color: black;
    cursor: pointer;
}

.transButtons li:active {
    background-color: dodgerblue;
    color: white;
}

.ssVeg {
    background: #2955DC;
    height: 500px;
}

.kameha {
    background: #F9EE54;
    height: 500px;
}

.kCharge {
    height: 200px;
}

.kLaunch {
    height: 200px;
}

.kBlast {
    height: 200px;
}